.card,
.cardImg {
  width: 200px;
  height: 280px;
  border-radius: 15px;
  transition: all 0.3s ease-out 0s;

  &:focus {
    transform: scale(1.2);
    transform: skewX(10);
    z-index: 1;
  }
  &:hover {
    transform: scale(1.1);
    transform: skewX(10);
    z-index: 1;
  }
  a {
    color: white;
    font-size: 14px;
    left: 8px;
    text-align: center;
    top: 250px;
    border-radius: 5px;
    text-decoration: none;
  }

  .cardTitle {
    display: none;
    position: absolute;
    color: white;
    font-size: 14px;
    left: 50%;
    top: 280px;
    transform: translate(-50%);
    text-align: center;
    background: #0000004d;
    border-radius: 5px;
    transition: all 1s ease-out;
    z-index: 1;
  }
  .titleHover {
    display: block;
    z-index: 1;
    
  }
}
