.footer {
  font-size: 0.7em;
  text-align: center;
  font-style: italic;
  color: white;
  position: relative;
  top: 12vh;
  bottom: -100;
  width: 100%;
  color: white;
  text-align: center;

    hr {
      border-top: 1px solid #ddd;
    }
  }