.arrow2{
  cursor: pointer;
  height: 120px;
  left: 97%;
  position: absolute;
  top: 72rem;
  transform: translateX(-50%) translateY(-50%); 
  transition: transform .1s;
  width: 100px;
  z-index: 3;

  $transition-time: .15s;

  &_top2,
  &_bottom2 {
    background-color: #666;
    height: 4px;
    left: -5px;
    position: absolute;
    top: 50%;
    width: 100%;
    
    &:after {
      background-color: #fff;
      content: '';
      height: 100%;
      position: absolute;
      top: 0;
      transition: all $transition-time;
    }
  }
  
  &_top2 {
    transform: rotate(45deg);
    transform-origin: bottom right;
    
    &:after {
      left: 100%;
      right: 0;
      transition-delay: 0s;
    }
  }
  
  &_bottom2 {
    transform: rotate(-45deg);
    transform-origin: top right;
    
    &:after {
      left: 0;
      right: 100%;
      transition-delay: $transition-time;
    }
  }
  
  &:hover & {
    
    &_top2:after {
      left: 0;
      transition-delay: $transition-time;
    }

    &_bottom2:after {
      right: 0;
      transition-delay: 0s;
    }
  }
  
  &:active {
    transform: translateX(-50%) translateY(-50%) scale(0.9);
  }
}
  