p {
  font-size: 15px;
  color: white;
}

.table {
    display: flex;
    margin: 0 auto;
    gap: 20px;
    width: 50%;
    background-color: rgb(32 31 31 / 84%);
    padding: 20px;
    text-align: center;
    border-radius: 15px;
    margin-top: 55px;
    overflow-x: scroll;
}

// .table {
//     display: flex;
//     flex-flow: row wrap;
//     gap: 10px;
//     position: relative;
//     height: auto;
//     min-height: 100px;
//     width: 20%;
//     min-width: 10%;
//     max-width: 100%;
//     margin: 0 auto;
//     background-color: rgba(238, 238, 238, 0.272);
//     align-items: center;
//     justify-content: space-around;
//     padding: 15px;
//     text-align: center;
//     border-radius: 15px;
//     margin-top: 55px;

  .season {
    font-size: 20px;
    font-weight: 600;
    color: #88B04B;
    -webkit-text-stroke: 0.7px black;

    &_row {
      width: 150px;
    }
  }
  .episode {
    font-size: 25px;
    font-weight: 600;
    color: #88B04B;
    -webkit-text-stroke: 0.7px black;
  }
  .aired{
    font-size: 20px;
    font-weight: 600;
    color: #88B04B;
    -webkit-text-stroke: 0.7px black;
  }