// *::-webkit-scrollbar {
//   width: 0 !important;
// }

p {
  font-size: 15px;
  color: white;
}

.table {
  display: flex;
  margin: 0 auto;
  gap: 20px;
  width: 50%;
  background-color: rgb(32 31 31 / 84%);
  padding: 20px;
  text-align: center;
  border-radius: 15px;
  margin-top: 45px;
 
  overflow-x: scroll;
}

.season {
  font-size: 20px;
  font-weight: 600;
  color: #88b04b;
  -webkit-text-stroke: 0.7px black;

  &_row {
    width: 150px;
  }
}
.episode {
  font-size: 25px;
  font-weight: 600;
  color: #88b04b;
  -webkit-text-stroke: 0.7px black;
}
.aired {
  font-size: 20px;
  font-weight: 600;
  color: #88b04b;
  -webkit-text-stroke: 0.7px black;
}
